<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Players</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All Players
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>first name</th>
                            <th>last name</th>
                            <th>age</th>
                            <th>experience</th>
                            <th>team name</th>
                            <th>created</th>
                            <th>details</th>
                            <th>delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player,iter : ${players}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${player.getFirstName()}"></td>
                            <td th:text="${player.getLastName()}"></td>
                            <td th:text="${player.getAge()}"></td>
                            <td th:text="${player.getExperience()}"></td>
                            <td th:text="${player.getTeam().getName()}"></td>

                            <td th:text="${#calendars.format(player.getCreated(),'dd MMMM yyyy')}"></td>
                            <td>
                                <a th:href="@{'/players/details/' + ${player.getId()}}" type="button" class="btn btn-primary">details</a>
                            </td>
                            <td>
                                <a th:href="@{'/players/delete/' + ${player.getId()}}" type="button" class="btn btn-danger">delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>